@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad\ Pro.ttf');
}

$home-background-color: #f5fcfd;
$navigation-wrapper-height: 100px;
$primary-color: #0f7bff;
$secondary-color: #ffffff;
$sign-up-btn-color: #0063dd;
$text-color: #929292;
$side-phone-height: 495px;
$side-phone-side-margin: -22px;
$features-card-margin: 15px;
$icon-work-steps: #dfedff;

body {
    padding: 0;
    margin: 0;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    width: 1920px;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}


.btn {
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;
    height: 50px;

    &--sign-up {
        padding: 0 55px;
        text-transform: uppercase;
        background-color: $sign-up-btn-color;
    }

    &--download {
        padding: 0 49px;
    }

    &--secondary {
        background-color: $home-background-color;
        color: $primary-color;
        border: 2px solid $primary-color;
        padding: 0 54px;
        margin-left: 30px;
    }
}

.home-wrapper {
    position: relative;
}

.home {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('../img/Shape_1.svg');
    background-color: $home-background-color;
    background-position: right;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 1043px;
    padding: 0 140px 0 140px;
    overflow: hidden;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: $navigation-wrapper-height;
    }

    &__arrow {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
        left: 50%;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 1px solid #dcdcdc;
        background-color: #ffffff;
        background-image: url('../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
    }
}

.logo {
    box-sizing: border-box;
    padding: 35px 37px 33px 25px;
    width: 179px;
    height: 100px;
    border-radius: 0 0 22px 22px;
    background-color: #0f7bff;
    color: $secondary-color;
    font-size: 36px;
}


.product-description {
    margin-top: 107px;
    text-align: center;
    max-width: 622px;
    margin-bottom: 80px;

    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 38px;
    }

    &__title {
        margin-bottom: 32px;
        color: #333333;
        font-size: 36px;
        font-weight: 400;
        line-height: 24px;
    }
}

.main-navigation {
    margin-right: 53px;
    display: flex;
    text-transform: uppercase;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    color: #929292;

    li {
        margin-left: 45px;
    }

    li:hover, .active{
        color: rgb(21, 126, 255);
    }
}

.sign-up-and-navigation-wrapper {
    height: 50px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.text {
    color: $text-color;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    &__bloc-easy-messaging {
        margin-top: 33px;
    }
}

.phones {
    display: flex;

    &__sensors {
        position: absolute;
        top: 13px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../img/Sensors.svg');
        width: 69px;
        height: 18px;
        margin-top: 15px;

        &--center {
            margin-top: 15px;
        }
    }

    &__phone-display {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;

        &--one {
            background-image: url('../img/Place_screen.png');
            min-height: $side-phone-height;
            width: 231px;
            position: relative;
            left: 14px;
            top: 11px;
        }

        &--two {
            background-image: url('../img/Place_Your_screen1.png');
            width: 312px;
            height: 979px;
            top: 15px;
            left: 19px;
        }

        &--three {
            background-image: url('../img/Place_your_screen.png');
            min-height: $side-phone-height;
            width: 231px;
            top: 11px;
            right: 13px;
        }
    }

    &__phone {
        box-sizing: border-box;
        background-position: center;
        box-shadow: 0 0 62px rgba(142, 142, 142, 0.44);
        border-radius: 40px;
        background-repeat: no-repeat;
        position: relative;

        &--side {
            width: 258px;
            height: 517px;
            background-image: url('../img/device-side.png');
            z-index: 1;
            margin-top: 90px;

            .phonse__sensors {
                // Доделать
            }
        }

        &--center {
            width: 345px;
            height: 690px;
            background-image: url('../img/device-center.png');
            margin-left: $side-phone-side-margin;
            margin-right: $side-phone-side-margin;
            z-index: 2;
        }
    }
}

.features {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 165px;
    height: 635px;
    background-color: $home-background-color;

        &__card {
            width: 360px;
            height: 290px;
            box-shadow: 0 0 25px #f0f0f0;
            border-radius: 5px;
            background-color: #ffffff;
            margin-left: $features-card-margin;
            margin-right: $features-card-margin;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: inherit;

            &--center {
                margin-top: 50px;
            }
        }

        &__text {
            margin: 15px;
        }

        &__icon {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            margin: 15px;

            &--analysis {
                background-color: $icon-work-steps;
                background-image: url('../img/icon-analys.svg');
            }

            &--clean-design {
                background-color: #f5dfff;
                background-image: url('../img/icon-design.svg');
            }

            &--messaging {
                background-color: #dfffe3;
                background-image: url('../img/icon-messaging.svg');
            }
        }
}

.bloc-easy-messaging {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 401px;
    // margin-left: 276px;

    &__blue-square {
        background-image: url('../img/Rectangle_2.svg');
        width: 603px;
        height: 610px;
    }

    &__decorative-photo {

        &--one {
            position: relative;
            top: 130px;
            left: 190px;
            background-image: url('../img/Place_Image1.png');
            width: 263px;
            height: 400px;
        }
    
        &--two {
            background-image: url('../img/Place_image.png');
            width: 221px;
            height: 337px;
            left: 178px;
            position: relative;
            top: 32px;
        }
    }

    &__text {
        height: 208px;
        width: 543px;
        margin-left: 97px;

        &--pointer {
            width: 15px;
            height: 11px;
        }
    }
}

.bloc-keep-in-touch {
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        height: 208px;
        width: 543px;
        margin-right: 109px;
    }

    &__blue-square {
        background-image: url('../img/Rectangle_2.svg');
        width: 603px;
        height: 610px;
    }

    &__decorative-photo {
        margin-left: 11px;

        &--one {
            background-image: url('../img/bloc-keep-in-touch-photo1.png');
            width: 263px;
            height: 400px;
            position: relative;
            top: 130px;
            left: 11px;
        }

        &--two {
            background-image: url('../img/bloc-keep-in-touch-photo2.png');
            width: 221px;
            height: 337px;
            position: relative;
            margin-left: 189px;
            top: 32px;
        }
    }
}

.information-about-work {
    box-sizing: border-box;
    height: 646px;
    display: flex;
    background-color: $home-background-color;
    flex-direction: column;
    align-items: center;
    padding: 151px 0 129px 0;

    &__title {
        margin-bottom: 39px;
    }

    .text {
        width: 731px;
        text-align: center;
    }

    &__cards-wrapper {
        margin-top: 48px;
        position: relative;
        display: flex;
        width: 1122px;
        justify-content: space-between;
    }

    &__card {
        width: 342px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .text {
            width: 100%;
        }

    }

    &__decorative-line {
        width: 680px;
        z-index: 0;
        height: 0;
        border: 1px solid $primary-color;
        position: absolute;
        top: 54px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        background-color: $icon-work-steps;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        
        &__card-title {
            margin: 31px 0 29px;
        }

        &--account {
            background-image: url('../img/bloc-work-steps_img-account.svg');
        }

        &--email {
            background-image: url('../img/bloc-work-steps_img-email.svg');
        }

        &--results {
            background-image: url('../img/bloc-work-steps_img-results.svg');
        }
    }
}

.prising-plan {
    display: flex;
    justify-content: center;

    &__information {
        width: 343px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 360px;
        height: 576px;
        box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
        border-radius: 5px;
        background-color: #ffffff;

        .btn {
            width: 165px;
            padding: 0;
        }
    }
    &__toggler {
        display: flex;
        width: 330px;
    }

    &__toggle-btn {
        width: 165px;
        padding: 0;
        margin: 0;

        &--left {
            border-radius: 25px 0 0 25px;
        }

        &--right {
            border-radius: 0px 25px 25px 0px;
        }
    }

    &__icon {
        width: 75px;
        height: 75px;
        border: 12px solid $icon-work-steps;
        background-color: #cfe4fe;
        border-radius: 50%;
        background-size: 55px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 29px;

        &--standard {
            background-image: url('../img/pricing-plan_standard.svg');
        }

        &--premium {
            background-image: url('../img/pricing-plan_premium.svg');
        }
    }

    &__title {
        padding-bottom: 30px;
        width: 165px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__sign {
        font-family: Quicksand;
        font-weight: 500;
        color: $primary-color;
        font-size: 32px;

        &--dollar {
            font-size: 16px;
        }
    }

    &__sum {
        width: 83px;
        height: 24px;
        color: $primary-color;
    }
}

.latest-news {
    padding: 152px 0px 127px 0px;

    &__heading {

    }

    &__text {
        padding: 40px 0px 25px 0px;
        font-family: Quicksand;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $primary-color;
        
    }

    &__list-news {
        display: flex;
        margin-top: 48px;

        &--bloc-one {
            width: 555px;
            height: 285px;
            margin-right: 30px;
        }

        &__decoration-photo {
            background-image: url('../img/latest-news__decoration-photo.png');
        }

        &--bloc-two {

        }

        &__all-photo {

            &--one {
                background-image: url('../img/latest-news__all-photo_1.png');
            }

            &--two {
                background-image: url('../img/latest-news__all-photo_2.png');
            }

            &--three {
                background-image: url('../img/latest-news__all-photo_3.png');
            }
        }
    }

    &__pointer {
        background-image: url('../img/pointer.svg');
    }
}