@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad\ Pro.ttf');
}

$header-background-color: #f5fcfd;
$primary-color: #0f7bff;
$secondary-color: #ffffff;
$sign-up-btn-color: #0063dd;
$text-color: #929292;
$center-phone-height: 979px;
$side-phone-height: 495px;
$side-phone-side-margin: -22px;
$card-margin: 15px;

body {
    padding: 0;
    margin: 0;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
}

li {
    list-style-type: none;
}

.page-header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('../img/Shape_1.svg');
    background-color: $header-background-color;
    background-position: right;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 1043px;
    padding: 0 140px 0 140px;
    overflow: hidden;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.logo {
    width: 179px;
    height: 100px;
    border-radius: 0 0 22px 22px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    font-size: 36px;
}

.btn {
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: $primary-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;

    &--sign-up {
        padding: 20px 55px 19px 55px;
        text-transform: uppercase;
        margin-left: 45px;
        background-color: $sign-up-btn-color;
    }

    &--download {
        padding: 19px 49px 19px 49px;
    }

    &--free-trial {
        background-color: $header-background-color;
        color: $primary-color;
        border: 2px solid $primary-color;
        padding: 19px 54px 19px 54px;
        margin-left: 30px;
    }
}

.product-description {
    text-align: center;
    max-width: 622px;
    margin-bottom: 80px;
}

.main-navigation {
    display: flex;
    text-transform: uppercase;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    color: #929292;

    li {
        margin-left: 45px;
    }
}

.sign-up-and-navigation-wrapper {
    display: flex;
    align-items: flex-start;
}

.text {
    color: $text-color;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
}

.phones {
    display: flex;

    &__phone-display {
        background-repeat: no-repeat;
        background-size: cover;
    
        &--one {
            background-image: url('../img/Place_screen.png');
            min-height: $side-phone-height;
            width: 231px;
            position: relative;
            right: 3px;
        }

        &--two {
            background-image: url('../img/Place_Your_screen1.png');
            min-height: $center-phone-height;
        }

        &--three {
            background-image: url('../img/Place_your_screen.png');
            min-height: $side-phone-height;
            width: 231px;
            position: relative;
            right: 2px;
        }
    }

    &__phone {
        box-sizing: border-box;
        background-position: center;
        box-shadow: 0 0 62px rgba(142, 142, 142, 0.44);
        border-radius: 40px;
        background-repeat: no-repeat;

        &--side {
            width: 258px;
            height: 517px;
            background-image: url('../img/device-side.png');
            z-index: 1;
            padding: 11px 13px 11px 18px;
            margin-top: 90px;
        }

        &--center {
            width: 345px;
            height: 690px;
            background-image: url('../img/device-center.png');
            margin-left: $side-phone-side-margin;
            margin-right: $side-phone-side-margin;
            z-index: 2;
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    padding-top: 165px;

        &__card {
            width: 360px;
            height: 290px;
            box-shadow: 0 0 25px #f0f0f0;
            border-radius: 5px;
            background-color: #ffffff;
            margin-left: $card-margin;
            margin-right: $card-margin;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--center {
                margin-top: 50px;
            }
        }

        &__icon {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;

            &--analysis {
                background-color: #dfedff;
                background-image: url('../img/icon-analys.svg');
            }

            &--clean-design {
                background-color: #f5dfff;
                background-image: url('../img/icon-design.svg');
            }

            &--messaging {
                background-color: #dfffe3;
                background-image: url('../img/icon-messaging.svg');
            }
        }
}

.bloc-easy-messaging {
    display: flex;
    align-items: center;
    margin-right: 401px;
    margin-left: 276px;

    &__decorative {

        &--blue-square {
            background-image: url('../img/Rectangle_2.svg');
            width: 603px;
            height: 610px;
        }
    
        &--photo-one {
            background-image: url('../img/Place_Image1.png');
            width: 263px;
            height: 400px;
        }
    
        &--photo-two {
            background-image: url('../img/Place_image.png');
            width: 221px;
            height: 337px;
        }
    }

    &__text {
        height: 208px;
        width: 543px;
        margin-left: 97px;

        &--pointer {
            width: 15px;
            height: 11px;
        }
    }
}
