@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro.ttf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.page-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url("../img/Shape_1.svg");
  background-color: #f5fcfd;
  background-position: right;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 1043px;
  padding: 0 140px 0 140px;
  overflow: hidden;
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 179px;
  height: 100px;
  border-radius: 0 0 22px 22px;
  background-color: #0f7bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 36px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #0f7bff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.btn--sign-up {
  padding: 20px 55px 19px 55px;
  text-transform: uppercase;
  margin-left: 45px;
  background-color: #0063dd;
}
.btn--download {
  padding: 19px 49px 19px 49px;
}
.btn--free-trial {
  background-color: #f5fcfd;
  color: #0f7bff;
  border: 2px solid #0f7bff;
  padding: 19px 54px 19px 54px;
  margin-left: 30px;
}

.product-description {
  text-align: center;
  max-width: 622px;
  margin-bottom: 80px;
}

.main-navigation {
  display: flex;
  text-transform: uppercase;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  color: #929292;
}
.main-navigation li {
  margin-left: 45px;
}

.sign-up-and-navigation-wrapper {
  display: flex;
  align-items: flex-start;
}

.text {
  color: #929292;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 400;
}

.phones {
  display: flex;
}
.phones__phone-display {
  background-repeat: no-repeat;
  background-size: cover;
}
.phones__phone-display--one {
  background-image: url("../img/Place_screen.png");
  min-height: 495px;
  width: 231px;
  position: relative;
  right: 3px;
}
.phones__phone-display--two {
  background-image: url("../img/Place_Your_screen1.png");
  min-height: 979px;
}
.phones__phone-display--three {
  background-image: url("../img/Place_your_screen.png");
  min-height: 495px;
  width: 231px;
  position: relative;
  right: 2px;
}
.phones__phone {
  box-sizing: border-box;
  background-position: center;
  box-shadow: 0 0 62px rgba(142, 142, 142, 0.44);
  border-radius: 40px;
  background-repeat: no-repeat;
}
.phones__phone--side {
  width: 258px;
  height: 517px;
  background-image: url("../img/device-side.png");
  z-index: 1;
  padding: 11px 13px 11px 18px;
  margin-top: 90px;
}
.phones__phone--center {
  width: 345px;
  height: 690px;
  background-image: url("../img/device-center.png");
  margin-left: -22px;
  margin-right: -22px;
  z-index: 2;
}

.features {
  display: flex;
  justify-content: center;
  padding-top: 165px;
}
.features__card {
  width: 360px;
  height: 290px;
  box-shadow: 0 0 25px #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__card--center {
  margin-top: 50px;
}
.features__icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.features__icon--analysis {
  background-color: #dfedff;
  background-image: url("../img/icon-analys.svg");
}
.features__icon--clean-design {
  background-color: #f5dfff;
  background-image: url("../img/icon-design.svg");
}
.features__icon--messaging {
  background-color: #dfffe3;
  background-image: url("../img/icon-messaging.svg");
}

.bloc-easy-messaging {
  display: flex;
  align-items: center;
}
.bloc-easy-messaging__decorative--blue-square {
  background-image: url("../img/Rectangle_2.svg");
  width: 603px;
  height: 610px;
}
.bloc-easy-messaging__decorative--photo-one {
  background-image: url("../img/Place_Image1.png");
  width: 263px;
  height: 400px;
}
.bloc-easy-messaging__decorative--photo-two {
  background-image: url("../img/Place_image.png");
  width: 221px;
  height: 337px;
}
.bloc-easy-messaging__text {
  height: 208px;
  width: 543px;
}
.bloc-easy-messaging__text--pointer {
  width: 15px;
  height: 11px;
}

.bloc-keep-in-touch {
  display: flex;
  align-items: center;
}
.bloc-keep-in-touch__text {
  height: 208px;
  width: 543px;
}
.bloc-keep-in-touch__decorative--blue-square {
  background-image: url("../img/Rectangle_2.svg");
  width: 603px;
  height: 610px;
}
.bloc-keep-in-touch__decorative--photo-one {
  background-image: url("../img/bloc-keep-in-touch-photo1.png");
  width: 263px;
  height: 400px;
}
.bloc-keep-in-touch__decorative--photo-two {
  background-image: url("../img/bloc-keep-in-touch-photo2.png");
  width: 221px;
  height: 337px;
}

/*# sourceMappingURL=style.css.map */
